@{
    ViewData["Title"] = "Index";
    double starsYou = 3.75;
    double starsFriends = 4.25;
    double starsEveryone = 4.00;
}

<link rel="stylesheet" href="~/css/wine.css">
<link rel="stylesheet" href="~/css/colorpalette.css">

<div class="thumbnail">
    <div class="image-container">
        <img src="@Model.Image_URL" />
    </div>
    <div class="text-container">
        <h1>@Model.Name</h1>
        <h2>@Model.Winery.Name</h2>
        <input class="button" type="button" value="CHECK-IN" onclick="location.href='/Review?id=@Model.Id'">
    </div>
</div>

<div class="information-container">
    <h2>@Model.Description</h2>
    <div class="tags-container">
        @foreach (var tag in Model.TasteTags)
        {
            <h4>@tag.TagName </h4>
        }
    </div>
</div>

<div class="unnamed-container">
    <div class="check-ins-container">
        <table>
            <tr>
                <th>Group</th>
                <th>Check-ins</th>
                <th>Average Rating</th>
            </tr>
            <tr>
                <td>You</td>
                <td>3</td>
                <td>
                    <div class="rating-container">
                        @for (int j = 1; j <= 5; j++)
                        {
                            <span class="dot @((j <= starsYou) ? "star-filled" : "") @((j == Math.Ceiling(starsYou) && starsYou % 1 > 0) ? "quarter-filled" : "") @((j == Math.Ceiling(starsYou) && starsYou % 1 == 0.5) ? "half-filled" : "") @((j == Math.Ceiling(starsYou) && starsYou % 1 == 0.75) ? "three-quarter-filled" : "")"></span>
                        }
                        <p>@starsYou.ToString("0.00")</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Friends</td>
                <td>21</td>
                <td>
                    <div class="rating-container">
                        @for (int j = 1; j <= 5; j++)
                        {
                            <span class="dot @((j <= starsFriends) ? "star-filled" : "") @((j == Math.Ceiling(starsFriends) && starsFriends % 1 > 0) ? "quarter-filled" : "") @((j == Math.Ceiling(starsFriends) && starsFriends % 1 == 0.5) ? "half-filled" : "") @((j == Math.Ceiling(starsFriends) && starsFriends % 1 == 0.75) ? "three-quarter-filled" : "")"></span>
                        }
                        <p>@starsFriends.ToString("0.00")</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Everyone</td>
                <td>5065</td>
                <td>
                    <div class="rating-container">
                        @for (int j = 1; j <= 5; j++)
                        {
                            <span class="dot @((j <= starsEveryone) ? "star-filled" : "") @((j == Math.Ceiling(starsEveryone) && starsEveryone % 1 > 0) ? "quarter-filled" : "") @((j == Math.Ceiling(starsEveryone) && starsEveryone % 1 == 0.5) ? "half-filled" : "") @((j == Math.Ceiling(starsEveryone) && starsEveryone % 1 == 0.75) ? "three-quarter-filled" : "")"></span>
                        }
                        <p>@starsEveryone.ToString("0.00")</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="winery-container">
        <div class="text-container">
            <h2>Winery info:</h2>
            <h3>@Model.Winery.Name</h3>
        </div>
        <div class="image-container">
            <img src="@Model.Winery.Image_URL" />
        </div>
        <h4>@Model.Winery.Description</h4>

    </div>
</div>

<input type="button" value="Update" onclick="location.href='/Wine/Update?wine_id=@Model.Id'">
