@{
    ViewData["Title"] = "Update";
    bool isChecked = false;
}

<link rel="stylesheet" href="~/css/tastetagsReviewPage.css">
<link rel="stylesheet" href="~/css/thumbnailReviewPage.css">
<link rel="stylesheet" href="~/css/bodyUploadPage.css">

<div class="thumbnail">
    <div class="image-container" onclick="testMethod()">
        <img class="winery-icon" id="winery-icon" src="@Model.Wine.Image_URL" />
        <img class="upload-image-icon" id="upload-image-icon" style="display: block" src="https://i.ibb.co/yg2m6YT/afbeelding-2023-10-30-222957448.png" />
    </div>
    <div class="text-container">
        <input id="wine-name" type="text" placeholder="Name of wine..." value="@Model.Wine.Name" maxlength="32" />
        <h2>@Model.Wine.Winery.Name</h2>
    </div>
</div>

<textarea id="description" maxlength="255" placeholder="Write a short description for the wine...">@Model.Wine.Description</textarea>

<div class="tastetag-container">
    <h3 id="expandFlavors" onclick="expandFlavors()">Flavor Profile ></h3>

    <div class="tastetags" id="tasteTags">
        @foreach (var tasteTag in Model.TasteTags)
        {
            <div class="cat">
                <label>
                    @foreach (var wineTasteTag in Model.Wine.TasteTags)
                    {
                        if (wineTasteTag.Id == tasteTag.Id)
                        {
                            <input type="checkbox" name="category" checked value="@tasteTag.Id">
                            <span>@tasteTag.TagName</span>
                            isChecked = true;
                            break;
                        }
                    }
                    @if(!isChecked)
                    {
                        <input type="checkbox" name="category" value="@tasteTag.Id">
                        <span>@tasteTag.TagName</span>
                    }
                </label>
            </div>
            isChecked = false;
        }

        <div class="cat" id="moreButton" style="display: block;">
            <label>
                <input type="button" name="category" onclick="expandFlavors()"><span>More...</span>
            </label>
        </div>
        <div class="cat" id="lessButton" style="display: block;">
            <label>
                <input type="button" name="category" onclick="expandFlavors()"><span>Less...</span>
            </label>
        </div>
    </div>

    <h3 id="selectedTagCount">0/5</h3>

    <div hidden="hidden">
        <p>Selected tags: <span id="selectedTags"></span></p>
    </div>
</div>

<div class="upload-button">
    <input type="button" class="button" value="UPDATE" onclick="updateWine(@Model.Wine.Id)" />
</div>

<script src="~/js/flavorCheckBoxesUpload.js"></script>
<script src="~/js/updateButton.js"></script>

<script>
    function testMethod() {
        var userInput = prompt("Enter an image url:");
        var wineryIcon = document.getElementById("winery-icon");
        var uploadImageIcon = document.getElementById("upload-image-icon");

        if (userInput == null || userInput == "") {
            alert("Failed to enter image");
        } else {
            wineryIcon.src = userInput;
            uploadImageIcon.style.display = 'none';
        }
    }
</script>