@{
    ViewData["Title"] = "Upload";
}

<link rel="stylesheet" href="~/css/tastetagsReviewPage.css">
<link rel="stylesheet" href="~/css/thumbnailReviewPage.css">
<link rel="stylesheet" href="~/css/bodyUploadPage.css">

<div class="thumbnail">
    <div class="image-container">
        <img src="@Model.Winery.Image_URL" />
    </div>
    <div class="text-container">
        <input id="wine-name" type="text" autofocus="autofocus" placeholder="Name of wine..." maxlength="32" />
        <h2>@Model.Winery.Name</h2>
    </div>
</div>

<textarea id="description" maxlength="255" placeholder="Write a short description for the wine..."></textarea>

<div class="tastetag-container">
    <h3 id="expandFlavors" onclick="expandFlavors()">Flavor Profile ></h3>

    <div class="tastetags" id="tasteTags">
        @foreach (var tasteTag in Model.TasteTags)
        {
            <div class="cat" style="display: hidden;">
                <label>
                    <input type="checkbox" name="category" value="@tasteTag.Id"><span>@tasteTag.TagName</span>
                </label>
            </div>
        }
    </div>

    <h3 id="selectedTagCount">0/5</h3>

    <div hidden="hidden">
        <p>Selected tags: <span id="selectedTags"></span></p>
    </div>
</div>

<div class="upload-button">
    <input type="button" class="button" value="UPLOAD" onclick="uploadWine(@Model.Winery.Id)"/>
</div>

<script src="~/js/flavorCheckBoxesUpload.js"></script>
<script src="~/js/uploadButton.js"></script>
