@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/thumbnailReviewPage.css">
<link rel="stylesheet" href="~/css/bodyReviewPage.css">
<link rel="stylesheet" href="~/css/tastetagsReviewPage.css">

<div class="thumbnail">
    <div class="image-container">
        <img src="@Model.Wine.Image_URL" />
    </div>
    <div class="text-container">
        <h1>@Model.Wine.Name</h1>
        <h2>@Model.Wine.Winery.Name</h2>
    </div>
</div>


<div class="commentInput">
    <textarea id="comment" maxlength="255" autofocus="autofocus" placeholder="How was it? leave a note"></textarea>
</div>

<div class="slide-container">
    <div class="title-container">
        <h3>Rating</h3>
    </div>
    <div class="number-container">
        <h3 id="sliderValue">Theres something wrong with the slider if you're seeing this</h3>
    </div>
</div>
<input type="range" id="myRange" draggable="false" class="slider" min="1" max="20" value="10">

<div class="tastetag-container">
    <h3 onclick="expandFlavors()" id="expandFlavors">Flavor Profile ></h3>

    <div class="tastetags" id="tasteTags">
        @foreach (var tasteTag in Model.TasteTags)
        {
            <div class="cat" style="display: none;">
                <label>
                    <input type="checkbox" name="category" value="@tasteTag.Id"><span>@tasteTag.TagName</span>
                </label>
            </div>
        }
        <div class="cat" id="moreButton" style="display: block;">
            <label>
                <input type="button" name="category" onclick="expandFlavors()"><span>More...</span>
            </label>
        </div>
        <div class="cat" id="lessButton" style="display: block;">
            <label>
                <input type="button" name="category" onclick="expandFlavors()"><span>Less...</span>
            </label>
        </div>
    </div>

    <div hidden="hidden">
        <p>Selected tags: <span id="selectedTags"></span></p>
    </div>
</div>

<br /><br />
<div class="check-in-button">
    <input type="button" class="button" value="CHECK-IN" onclick="sendData(@Model.Wine.Id)">
</div>

<script src="~/js/checkInButton.js"></script>
<script src="~/js/flavorCheckBoxesReview.js"></script>
<script src="~/js/ratingSlider.js"></script>

