
@{
    ViewData["Title"] = "Reviews";
}

<h1>Reviews</h1>

<div class="flex-grid">
    @for(int i = 0; i++ < 4;){
        <div class="review">
            <div class="thumbnail-container">
                <div class="image-container">
                    <img src="@Model.Wine.Image_URL">
                </div>
                <div class="wine-info-container">
                    <h2>@Model.Wine.Name</h2>
                    <h3>@Model.Winery.Name</h3>
                </div>
            </div>
            <div class="comment-container">
                <h3>@Model.Review.Comment</h3>
            </div>
            <div class="tags-container">
                @foreach (var tag in Model.Tags)
                {
                    <h4>@tag.TagName</h4>
                }
            </div>
            <div class="rating-container">
                @for (int j = 1; j <= 5; j++)
                {
                    <span class="dot @((j <= Model.Review.Stars) ? "star-filled" : "") @((j == Math.Ceiling(Model.Review.Stars) && Model.Review.Stars % 1 > 0) ? "quarter-filled" : "") @((j == Math.Ceiling(Model.Review.Stars) && Model.Review.Stars % 1 == 0.5) ? "half-filled" : "") @((j == Math.Ceiling(Model.Review.Stars) && Model.Review.Stars % 1 == 0.75) ? "three-quarter-filled" : "")"></span>
                }
                <p>@Model.Review.Stars</p>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/bodyReviewsPage.css">

