@{
    ViewData["Title"] = "Explore";
}
   
<link rel="stylesheet" href="~/css/searchbar.css" />
<link rel="stylesheet" href="~/css/searchtoggle.css" />
<link rel="stylesheet" href="~/css/explore-flexboxes.css" />

<body>
    <h1>Explore</h1>

    <input type="text" id="mySearch" onkeyup="searchBar()" onclick="displayMenuButtons()" placeholder="Search.." title="Type in a category">

    <div id="menuButtons" onchange="handleRadioChange(event)"  style="display: none;">
        <div class="cat wine">
            <label>
                <input type="radio" name="category" id="wineRadio" value="wine" checked="checked"><span>Wine</span>
            </label>
        </div>

        <div class="cat winery">
            <label>
                <input type="radio" name="category" id="wineryRadio" value="winery"><span>Winery</span>
            </label>
        </div>
    </div>

    <div>
        <ul id="wineMenu" style="display: none;">
            @foreach (var wine in Model.Wines)
            {
                <li onclick="location.href='/Wine?id=@wine.Id'"><a>@wine.Name</a></li>
            }
        </ul>
        <ul id="wineryMenu" style="display: none;">
            @foreach (var winery in Model.Wineries)
            {
                <li onclick="location.href='/Winery?id=@winery.Id'"><a>@winery.Name</a></li>
            }
        </ul>
    </div>

    <div id="flexboxes" display="block">
        <label for="best-wines-container">Best wines</label>
        <div id="best-wines-container" class="wines-container">
            @foreach (var wine in Model.BestWines)
            {
                <div onclick="location.href='Wine?id=@wine.Id'"
                     style="background-image: url('@wine.Image_URL');">

                    <h2>@wine.Stars</h2>
                    @for (int j = 0; j < 3; j++)
                    {
                        <h3>@wine.TasteTags[j].TagName</h3>
                    }

                    <h1>@wine.Name</h1>
                </div>
            }
        </div>
        <label for="popular-wines-container" hidden>Popular wines</label>
        <div id="popular-wines-container" class="wines-container" hidden>
            @foreach(var wine in Model.PopularWines)
            {
                <div onclick="location.href='Wine?id=@wine.Id'"
                     style="background-image: url('@wine.Image_URL');">

                    <h2>@wine.Check_ins</h2>
                    @for(int j = 0; j < 3; j++)
                    {
                        <h3>@wine.TasteTags[j].TagName</h3>
                    }                    
                    
                    <h1>@wine.Name</h1>
                </div>
            }
        </div>
        <label for="random-wines-container">I'm feeling lucky</label>
        <div id="random-wines-container" class="wines-container">
            @foreach (var wine in Model.RandomWines)
            {
                <div onclick="location.href='Wine?id=@wine.Id'"
                     style="background-image: url('@wine.Image_URL');">

                    <h2>@wine.Stars</h2>
                    @for (int j = 0; j < 3; j++)
                    {
                        <h3>@wine.TasteTags[j].TagName</h3>
                    }

                    <h1>@wine.Name</h1>
                </div>
            }
        </div>
    </div>

</body>

<script src="~/js/searchbar.js"></script>