@{
    ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/searchbar.css" />
<link rel="stylesheet" href="~/css/searchtoggle.css" />
<link rel="stylesheet" href="~/css/explore-flexboxes.css" />
<script src="~/js/searchbar.js"></script>
    
<body>
    <h1>Explore</h1>

    <input type="text" id="mySearch" onkeyup="searchBar()" onclick="displayMenuButtons()" placeholder="Search.." title="Type in a category">
    <br /><br />

    <div id="menuButtons" onchange="handleRadioChange(event)"  style="display: none;">
        <div class="cat wine">
            <label>
                <input type="radio" name="category" id="wineRadio" value="wine" checked="checked"><span>Wine</span>
            </label>
        </div>

        <div class="cat winery">
            <label>
                <input type="radio" name="category" id="wineryRadio" value="winery"><span>Winery</span>
            </label>
        </div>
    </div>

    <div>
        <ul id="wineMenu" style="display: none;">
            @foreach (var wine in Model.Wines)
            {
                <li onclick="location.href='/Wine?id=@wine.Id'"><a>@wine.Name</a></li>
            }
        </ul>
        <ul id="wineryMenu" style="display: none;">
            @foreach (var winery in Model.Wineries)
            {
                <li onclick="location.href='/Winery?id=@winery.Id'"><a>@winery.Name</a></li>
            }
        </ul>
    </div>

    <div>
        <label for="best-wines-container">Best wines (technically popular wines but my naming is all fucked)</label>
        <div class="best-wines-container">
            @for(int i = 0; i < Model.BestWines.Count; i++)
            {
                <div onclick="location.href='Wine?id=@Model.BestWines[i].Id'"
                     style="background-image: url('@Model.BestWines[i].Image_URL');">

                    <h2>5.00</h2>
                    @for(int j = 0; j < 3; j++)
                    {
                        <h3>@Model.BestTasteTags[i][j].TagName</h3>
                    }                    
                    
                    <h1>@Model.BestWines[i].Name</h1>
                </div>
            }
        </div>
        <label for="popular-wines-container">I'm feeling lucky</label>
        <div class="popular-wines-container">
            @for (int i = 0; i < Model.RandomWines.Count; i++)
            {
                <div onclick="location.href='Wine?id=@Model.RandomWines[i].Id'"
                     style="background-image: url('@Model.RandomWines[i].Image_URL');">

                    <h2>5.00</h2>
                    @for (int j = 0; j < 3; j++)
                    {
                        <h3>@Model.BestTasteTags[i][j].TagName</h3>
                    }

                    <h1>@Model.RandomWines[i].Name</h1>
                </div>
            }
        </div>
    </div>

</body>